<!-- HEADER TEMPLATE LAYOUT FILE FOR `main.ejs` -->

<!-- HEADING DISPLAYS WHAT THE ARTICLE IS  -->
<span href="#" class="header__location">
  &#8224; <%= location%>
</span>

<!-- DISPLAYS BLOG TITLE  -->
<h1 class="header__title">
  <%= title %>
</h1>

<!-- DISPLAYS BLOG SUBTITLE  -->
<h2 class="header__subtitle">
  <%= subtitle %>
</h2>

<!-- DISPLAYS BLOG AUTHOR  -->
<h3 class="header__author"> Author:
  <%= author %>
</h3>

<!-- DISPLAYS IMAGE  -->
<img class="header__img" src="/img/aml_home.jpg" alt="Picture of currency notes" width="400" , height="200">